/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
/*@import 'material-icons/iconfont/material-icons.scss';*/
@import '~@angular/material/theming';
@import 'theme.scss';

//@include angular-material-theme($wap-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bg-dark {
  background-color: mat-color($wap-app-dark, 900) !important;
  color: white !important;
}

.bg-primary {
  background-color: mat-color($wap-app-primary, 900) !important;
  color: white !important;
}

