mat-form-field {
  width: 100%;
}

.container {
  height: 400px;
  background: url('https://upload.wikimedia.org/wikipedia/commons/3/37/Landscapes-sun-fields-nature-clouds-desktop-picture-1920x1080.jpg') no-repeat center center fixed;
}

