<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <div class="item item-1" style="padding-left:5%;padding-right:5%;padding-top:100px;" fxFlex="90">
    <form class="example-form" [formGroup]="myForm">
      <mat-form-field class="mat-form-field" style="color:white">
        <input type="text"
               placeholder="Choose Your Place..."
               aria-label="Number"
               matInput
               [formControl]="city"
               name="city"
               style="height:40px;font-size:20px;color:white"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="onSelectLocation(option)">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>      
</div>
