.example-form {
  min-width: 400px;
  max-width: 1400px;
  width: 100%;
}
  
.example-full-width {
  width: 100%;
}

.container {
  width: 100%;
}

mat-form-field {
  min-width: 400px;
  max-width: 1400px;
  width: 100%;
}

input {
  width: 100% !important;
}