mat-form-field {
  width: 100%;
  margin-left: 20px;
  margin-right:20px;
}

.container {
  height: 400px;
  width:100%;
  background: url('https://upload.wikimedia.org/wikipedia/commons/3/37/Landscapes-sun-fields-nature-clouds-desktop-picture-1920x1080.jpg') no-repeat center center fixed;
}

.mat-form-field {
  margin-top:100px;
}